<div class="container">

  <br>
  <img src="http://www.thuglife-store.com/out/tls/img/tl-logo-new.jpg" align="middle">
  <img src="http://i622.photobucket.com/albums/tt308/warriorjdogg/KBGREENFLAG018.jpg" height="350" width="500">

   <font size="3"><h1>Sell your guns here!</h1>
  <p>Enter your gun details here</p>

  <form action="/post_sell_guns" method="post">
    Type:<br>
    <input type="text" name="posttitle">
    <br><br>
    Description:<br>
    <input type="text" name="postdesc">
    <br><br>
    Price:<br>
    <input type="text" name="price">
    <br><br>
    Address:<br>
    <input type="text" name="address">
    <br><br>
    Your name:<br>
    <input type="text" name="name">
    <br><br>
    Your email:<br>
    <input type="text" name="email">
    <br><br>

    <input type="submit" value="Submit">
    <br>
  </form>
